version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comunicacao_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./django_app:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      - PYTHONUNBUFFERED=1
    restart: always

  db:
    image: postgres:15
    container_name: comunicacao_postgres
    restart: always
    environment:
      POSTGRES_DB: comunicacao_db
      POSTGRES_USER: comunicacao_user
      POSTGRES_PASSWORD: comunicacao_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    container_name: comunicacao_redis
    restart: always
    ports:
      - "6379:6379"

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comunicacao_worker
    command: python worker.py
    volumes:
      - ./django_app:/app
    depends_on:
      - redis
      - db
    environment:
      - PYTHONUNBUFFERED=1
    restart: always

volumes:
  postgres_data: